/// @access public
/// @param {String | List | Angle} $direction - Linear gradient direction
/// @param {Arglist} $color-stops - List of color-stops composing the gradient
@mixin linear-gradient($direction, $color-stops...) {
  @if is-direction($direction) == false {
    $color-stops: ($direction, $color-stops);
    $direction: 180deg;
  }

  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(
    legacy-direction($direction),
    $color-stops
  );
  background: linear-gradient($direction, $color-stops);
}

.sh-ui-gradient-45deg-light-blue-cyan {
  @include linear-gradient(
    45deg,
    color("light-blue", "darken-2") 0%,
    color("cyan", "lighten-1") 100%
  );
  &.gradient-shadow {
    box-shadow: 0 6px 20px 0 rgba(color("cyan", "lighten-1"), 0.5);
  }
}

.sh-ui-gradient-45deg-red-pink {
  @include linear-gradient(45deg, color("red", "accent-2") 0%, color("pink", "lighten-3") 100%);
  &.gradient-shadow{
    box-shadow: 0 6px 20px 0 rgba(color("pink", "lighten-3"),0.5);
  }
}

.sh-ui-gradient-45deg-amber-amber {
  @include linear-gradient(45deg, color("amber", "darken-4") 0%, color("amber", "lighten-1") 100%);
  &.gradient-shadow{
    box-shadow: 0 6px 20px 0 rgba(color("amber", "darken-4"),0.3);
  }
}

.sh-ui-gradient-45deg-green-teal {
  @include linear-gradient(45deg, color("green" , "darken-1") 0%, color("teal", "accent-3") 100%);
  &.gradient-shadow{
    box-shadow: 0 6px 20px 0 rgba(color("teal", "lighten-2"),0.5);
  }
}

.sh-ui-gradient-45deg-blue-indigo {
  @include linear-gradient(45deg, color("blue" , "accent-4") 0%, color("indigo", "darken-1") 100%);  
  &.gradient-shadow{
    box-shadow: 0 6px 20px 0 rgba(color("indigo", "darken-1"),0.5);
  }
}

.sh-ui-gradient-45deg-deep-purple-blue {
  @include linear-gradient(45deg, color("deep-purple" , "accent-4") 0%, color("blue", "darken-2") 100%);
  &.gradient-shadow{
    box-shadow: 0 6px 20px 0 rgba(color("blue", "darken-2"),0.5);
  }
}

.sh-ui-gradient-45deg-blue-indigo-transparent {
  @include linear-gradient(45deg, color("blue" , "accent-5") 0%, color("indigo", "darken-1") 100%);  
  &.gradient-shadow{
    box-shadow: 0 6px 20px 0 rgba(color("indigo", "darken-1"),0.5);    
  }
}