<div class="sh-ui-found">
    <section class="sh-ui-home">

        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="carousel-content center sh-ui-home__content">
                        <img class="sh-ui-home__img" src="/images/logo/logo-shop.png" alt="logo">
                        <h2 class="boxed animation animated-item-1 fade-down white-text">WELCOME TO WE HELP YOU MANAGE
                            YOUR
                            BUSINESS</h2>
                        <p class="boxed animation animated-item-2 fade-up white-text">Our expertise will guide you to
                            success.
                            Without
                            Fail.</p>
                        <br>
                        <a class="btn btn-md animation bounce-in" href="/users/signup">Sign Up</a></a>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>