{{#if success_msg}}
<div>
    <div class="col s12 sh-ui-mt-1">
        <div class="sh-ui-alert hoverable">
            <div class="sh-ui-alert__content alert-simple alert-success alert-dismissible text-left">
                <i class="material-icons sh-ui-close sh-ui-icon-animation closebtn">close</i>
                <i class="material-icons sh-ui-alert__start-icon sh-ui-icon-animation">check_circle</i>
                <strong class="sh-ui-alert__text-bold">Well done!</strong> {{success_msg}}.
            </div>
        </div>
    </div>

    {{!-- <div class="col s12 sh-ui-mt-1">
        <div class="sh-ui-alert hoverable">
            <div class="sh-ui-alert__content alert-simple alert-info alert-dismissible text-left">
                <i class="material-icons sh-ui-close sh-ui-icon-animation closebtn">close</i>
                <i class="material-icons sh-ui-alert__start-icon sh-ui-icon-animation">info</i>
                <strong class="sh-ui-alert__text-bold">Heads up!</strong> This alert needs your attention, but it's not
                super
                important.
            </div>
        </div>
    </div>

    <div class="col s12 sh-ui-mt-1">
        <div class="sh-ui-alert hoverable">
            <div class="sh-ui-alert__content alert-simple alert-warning alert-dismissible text-left">
                <i class="material-icons sh-ui-close sh-ui-icon-animation closebtn">close</i>
                <i class="material-icons sh-ui-alert__start-icon sh-ui-icon-animation">warning</i>
                <strong class="sh-ui-alert__text-bold">Warning!</strong> Better check yourself, you're not looking too
                good.
            </div>
        </div>
    </div>--}}

    {{!-- <div class="col s12 sh-ui-mt-1">
        <div class="sh-ui-alert hoverable">
            <div class="sh-ui-alert__content alert-simple alert-danger alert-dismissible text-left">
                <i class="material-icons sh-ui-close sh-ui-icon-animation closebtn">close</i>
                <i class="material-icons sh-ui-alert__start-icon sh-ui-icon-animation">cancel</i>
                <strong class="sh-ui-alert__text-bold">Oh snap!</strong> {{success_msg}}.
            </div>
        </div>
    </div> --}}

    {{!-- <div class="col s12 sh-ui-mt-1">
        <div class="sh-ui-alert hoverable">
            <div class="sh-ui-alert__content fade alert-simple alert-primary alert-dismissible text-left">
                <i class="material-icons sh-ui-close sh-ui-icon-animation closebtn">close</i>
                <i class="material-icons sh-ui-alert__start-icon sh-ui-icon-animation">thumb_up</i>
                <strong class="sh-ui-alert__text-bold">Well done!</strong> You successfullyread this important.
            </div>
        </div>
    </div> --}}
</div>
{{/if}}
