<!-- START FOOTER -->
<footer class="page-footer sh-ui-gradient-45deg-light-blue-cyan">
    <div class="footer-copyright">
        <div class="sh-ui-container">
            <span>Copyright ©
                <script type="text/javascript">
                    document.write(new Date().getFullYear());
                </script> <a class="grey-text text-lighten-2" href="#" target="_blank">MAYK</a> All rights reserved.</span>
            <span class="right hide-on-small-only"> Design and Developed by <a class="grey-text text-lighten-2"
                    href="https://pixinvent.com/">MAYK</a></span>
        </div>
    </div>
</footer>
<!-- END FOOTER -->