<header id="header">
    <!--STRART HEADER NAV-->
    <div class="navbar-fixed">
        <nav class="sh-ui-navbar sh-ui-gradient-45deg-light-blue-cyan">
            <div class="nav-wrapper">
                <ul class="left">
                    <li>
                        <a href="#" data-target="slide-out" class="sidenav-trigger sh-icon">
                            <i class="material-icons">menu</i>
                        </a>
                    </li>
                    <li>
                        <h1 class="sh-ui-navbar__content">
                            <a href="index.html" class="sh-ui-navbar__logo brand-logo darken-1 hide-on-medium-and-up">
                                <img src="/images/logo/logo-shop.png" alt="logo">
                                <span class="sh-ui-navbar__logo-text hide-on-med-and-down">Shop</span>
                            </a>
                        </h1>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!--END HEADER NAV-->
</header>