<!-- START LEFT SIDEBAR NAV-->
{{#if user}}
<aside class="sh-ui-sidebar-nav">
  <ul id="slide-out" class="sidenav sidenav-fixed z-depth-4 sh-ui-sidebar-nav__side-navigation">
    <li>
      <div class="user-view">
        <div class="background">
          <img src="/images/gallary/7.png">
        </div>
        <a href="#!user"><img class="circle" src="/images/avatar/Deafult-Profile.png"></a>
        <a href="#!name"><span class="white-text name">{{user.username}}</span></a>
        <a href="#!email"><span class="white-text email">{{user.email}}</span></a>
      </div>
    </li>

    {{!-- <li><a href="#" class="waves-effect waves-blue"><i class="material-icons">dashboard</i>Dashboard</a></li> --}}
    <li>
      <div class="divider"></div>
    </li>

    <li>
      <ul class="collapsible collapsible-accordion">
        <li>
          <a class="collapsible-header waves-effect waves-blue">
            <i class="material-icons">assignment</i>Product
            <i class="material-icons right sh-ui-mr-0">arrow_drop_down</i>
          </a>
          <div class="collapsible-body">
            <ul>
              <li>
                <a href="/products" class="waves-effect waves-blue">
                  <i class="material-icons">format_list_bulleted</i>All Product
                </a>
              </li>
              <li>
                <a href="/product/add" class="waves-effect waves-blue">
                  <i class="material-icons">create</i>New Product
                </a>
              </li>
              <li>
                <div class="divider"></div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </li>

    <li>
      <ul class="collapsible collapsible-accordion">
        <li>
          <a class="collapsible-header waves-effect waves-blue">
            <i class="material-icons">speaker_notes</i>Notes
            <i class="material-icons right sh-ui-mr-0">arrow_drop_down</i>
          </a>
          <div class="collapsible-body">
            <ul>
              <li>
                <a href="/notes" class="waves-effect waves-blue">
                  <i class="material-icons">format_list_bulleted</i>All Notes
                </a>
              </li>
              <li>
                <a href="/notes/add" class="waves-effect waves-blue">
                  <i class="material-icons">create</i>New Notes
                </a>
              </li>
              <li>
                <div class="divider"></div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </li>

    <li>
      <ul class="collapsible collapsible-accordion">
        <li>
          <a class="collapsible-header waves-effect waves-blue">
            <i class="material-icons">import_contacts</i>Contact
            <i class="material-icons right sh-ui-mr-0">arrow_drop_down</i>
          </a>
          <div class="collapsible-body">
            <ul>
              <li>
                <a href="/contacts" class="waves-effect waves-blue">
                  <i class="material-icons">format_list_bulleted</i>All Contacts
                </a>
              </li>
              <li>
                <a href="/contact/add" class="waves-effect waves-blue">
                  <i class="material-icons">create</i>New Contact
                </a>
              </li>
              <li>
                <div class="divider"></div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </li>

    <li><a href="/users/logout"><i class="material-icons">exit_to_app</i>Logout</a></li>
  </ul>
</aside>
<!-- end LEFT SIDEBAR NAV-->
{{/if}}