<!-- START LEFT SIDEBAR NAV-->
<aside class="sh-ui-sidebar-nav">
  <ul id="slide-out" class="sidenav sidenav-fixed z-depth-4 sh-ui-sidebar-nav__side-navigation">
    <li>
      <div class="user-view">
        <div class="background">
          <img src="/images/gallary/7.png">
        </div>
        <a href="#!user"><img class="circle" src="/images/avatar/avatar-13.png"></a>
        <a href="#!name"><span class="white-text name">JOHN DOE</span></a>
        <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
      </div>
    </li>

    <li><a href="#" class="waves-effect waves-blue"><i class="material-icons">dashboard</i>Dashboard</a></li>
    <li>
      <div class="divider"></div>
    </li>
    <li><a href="#" class="waves-effect waves-blue"><i class="material-icons">filter_list</i>Categories</a></li>
    <li><a href="#!"><i class="material-icons">add_shopping_cart</i>Mi Orders</a></li>
    <li>
      <ul class="collapsible collapsible-accordion">
        <li>
          <a class="collapsible-header waves-effect waves-blue">
            <i class="material-icons">speaker_notes</i>Notes
            <i class="material-icons right sh-ui-mr-0">arrow_drop_down</i>
          </a>
          <div class="collapsible-body">
            <ul>
              <li>
                <a href="/api/shop/notes" class="waves-effect waves-blue">
                  <i class="material-icons">fullscreen</i>All Notes
                </a>
              </li>
              <li>
                <a href="/api/shop/notes/add" class="waves-effect waves-blue">
                  <i class="material-icons">swap_horiz</i>New Notes
                </a>
              </li>
              <li>
                <div class="divider"></div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </li>

    <li><a href="#!"><i class="material-icons">exit_to_app</i>Logout</a></li>
  </ul>
</aside>
<!-- end LEFT SIDEBAR NAV-->