<!--START CONTENT FORM-->

<div class="row sh-ui-mt-1">
    <nav class="sh-ui-gradient-45deg-deep-purple-blue">
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo sh-ui-ml-1"><i class="material-icons">view_list</i>Edit Note</a>
        </div>
    </nav>
</div>
<div class="divider"></div>

<div class="row">
    <div class="col s6 offset-s3">
        <div class="card">
            <div class="card-content">
                <div class="row">
                    <form class="col s12" action="/api/shop/notes/update/{{data.id}}?_method=PUT" method="POST">
                    <input type="hidden" name="_method" value="PUT">
                        <div class="row">

                            <div class="input-field col l12">
                                <input id="title" type="text" class="validate" name="title" value="{{data.title}}">
                                <label for="title">Title</label>
                            </div>

                            <div class="input-field col l12">
                                <textarea id="description" class="materialize-textarea" name="description">{{data.description}}</textarea>
                                <label for="description">Description</label>
                            </div>

                            <div class="row">
                                <div class="sh-ui-card__position-button">
                                    <div class="col s4 offset-s2">
                                        <button class="btn waves-effect waves-light sh-ui-gradient-45deg-amber-amber"
                                            type="submit" name="action">Edit
                                            <i class="material-icons right">edit</i>
                                        </button>
                                    </div>
                                    <div class="col s4 offset-s2">
                                        <a href="/api/shop/notes"
                                            class="btn waves-effect waves-light sh-ui-gradient-45deg-red-pink"
                                            type="submit" name="action">Cancel
                                            <i class="material-icons right">cancel</i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
<!--END CONTENT FORM-->